{% extends "main/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="content">
<h1>Register</h1>
  <h2 align="center">歡迎來到Pokemon交易所，請新朋友填寫申請表格</h2>
  <div align="center">
    <fieldset style="width: 80%;">
      <form action="{% url 'account:register' %}" method="post">
        {% csrf_token %}
        <div align="left">
          {{ userForm.as_p}}
          {{ userProfileForm.as_p }}
        </div>
        <input type="submit"  value="申請成為訓練師" />
      </form>
    </fieldset>
  </div>
</div>
{% endblock %}
